* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#container {
    max-width: 100%;
}

.header-container {
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    z-index: 1;
    top: 0;
    background: #f1f7fe;
}

.rndcontainer {
    position: relative;
    top: 150px;
    margin-left: 10%;
}

.rnd-text {
    color: red;
    font-weight: bolder;
}

.rnd-btn-light {
    cursor: pointer;
    background: #4287f5;
    color: white;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    position: absolute;
    bottom: -120px;
    font-size: 18px;
    font-weight: 600;
}

.rnd-btn-light:hover {
    text-decoration-line: underline;
}

.rndheader {
    position: relative;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 600px;
    opacity: 0.7;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.header-title {
    margin-left: 15%;
}

.home {
    text-decoration: none;
    color: #40B93C;
}

#navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
    display: flex;
    overflow: hidden;
    list-style-type: none;
}

li {
    font-size: 20px;
    font-weight: bolder;
}

.level0 {
    margin: 20px;
    text-decoration: none;
    color: #b9eced;
}

.level0:hover {
    color: #4287f5;
}

@media only screen and (max-width: 980px) {
    .header-title {
        margin: 0 !important;
    }
}

.product-image {
    transition: transform 0.10s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 330px;
    height: 300px;
}

.show {
    width: 600px;
    height: 310px;
    margin-top: 8px;
}

.products-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 50px;
    position: relative;
}

.product-row {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    background: #FFF;
    height: fit-content;
}

.product.name {
    font-weight: bolder;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.product.model {
    font-weight: bolder;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 12.5px;
}

.product-redirect {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.product-link {
    text-decoration: none;
}

.products-banner {
    width: 55%;
    position: relative;
    background-size: cover;
    background-position-y: bottom;
    min-height: 250px;
    display: block;
    margin: auto;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 30%);
    opacity: 0.9;
}

@media only screen and (min-width: 1400px) {
    .products-banner {
        width: 1010px;
    }
}

.products-banner-label {
    position: relative;
    top: 150px;
    padding: 20px;
    border-top: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    width: 250px;
}

.label-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #40B93C;
}

.linethrough {
    text-decoration-line: line-through;
}

.noline {
    text-decoration-line: none;
}

.link-one {
    background: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.link-one:hover {
    background: white;
    color: purple;
}

.sidebar {
    width: 250px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    box-shadow: 3px 2px 2px 0 rgb(0 0 0 / 15%);
    position: absolute;
}

@media only screen and (max-width: 1350px) {
    .products-banner {
        width: 680px;
    }

   .products-columns {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       position: relative;
       margin-left: auto;
       margin-right: auto;
   }
}

@media only screen and (min-width: 1808px){
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1808px){
    .products.form {
        width: fit-content;
        display: flex;
    }

    .container-checkbox {
        display: flex;
    }
}

.hamburger {
    display: none;
    border: none;
    border-radius: 45px;
    box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    width: 28px;
    height: 28px;
}

@media only screen and (max-width: 768px) {
    .nav-top-item {
        display: none;
    }

    .topNav, .hamburger {
        float: right;
        display: block;
    }

    .topNav.responsive {
        position: relative;
    }

    .topNav, .responsive, .hamburger {
        position: fixed;
        right: 0;
        top: 0;
        margin-top: 30px;
        margin-right: 30px;
    }

    .nav-top-list {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .topNav.responsive, .level0 {
        float: none;
        display: block;
        text-align: left;
    }

    .status {
        font-size: 10px;
        font-weight: 700;
        left: 90px !important;
        bottom: 148px !important;
    }

    .responsive .nav-top-item {
        display: block;
        text-align: center;
    }

    .rnd-text-span-second {
        font-size: 20px !important;
        bottom: 86px !important;
    }

    .span {
        bottom: 86px !important
    }

    .rndtitle {
        font-size: 30px !important;
        top: 22px;
    }

    .footer0 {
        bottom: 22px;
    }

    .home {
        font-size: 20px !important;
        margin-left: 20px !important;
        font-family: 'Montserrat', sans-serif;
    }

    .auth-container {
        width: 100% !important;
        height: 76vh !important;
    }

   .product-image {
       width: 150px;
       height: 150px;
   }

   .absolute-left {
       position: absolute;
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .margin-top {
       margin: 35px 0 0 0;
   }

    .filter-expand {
        left: 200px;
        font-size: 25px;
        border: none;
        box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
        border-radius: 30px;
    }

    .left {
        position: absolute;
        left: 45%;
    }

    .primary, .secondary {
        padding: 10px;
        font-size: 20px;
        border-radius: 5px;
    }

    .primary {
        margin-left: 50px !important;
    }

    .filter-options-content {
        font-size: 22px;
    }

    .checkmark {
        margin-top: 15px;
    }

    .bottom-out {
        bottom: 0 !important;
    }

    .products-banner {
        width: 100%;
    }

    .product-details-row {
        display: flex !important;
        flex-direction: column !important;
    }

    .product-details-title {
        margin-right: 0 !important;
        margin-top: 100px;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        margin-right: 0 !important;
    }

    .product-details-column {
        height: 50px !important
    }

    .image-row {
        margin: 0 !important;
        width: 100%;
    }

    .show {
        width: 100%;
    }

    .product-show {
        justify-content: center;
    }

    .product-packages {
        width: 100%;
        left: 0 !important;
        display: block !important;
        position: relative !important;
        margin-top: 10px;
    }

    .package-title {
        right: 20% !important;
        width: 20%;
        font-size: 15px !important;
        position: relative !important;
    }

    .package-notice {
        top: 17% !important;
        padding: 5px !important;
        margin-top: 5px;
    }

    .btn-responsive-submit {
        right: 0 !important;
        top: 20px !important;
    }

    .btn-responsive-wishlist {
        right: 0 !important;
    }

    .btn-proceed {
        margin-top: 0 !important;
        margin-left: auto;
        margin-right: auto;
        display: block
    }

    .rnd-footer {
        margin-top: 50%;
        height: fit-content !important;
    }

    .bottom-out  {
        top: 25px;
    }

    .products-radio-item {
        margin: 10px 0;
    }

    .adds-checkout-container {
        height: 90vh !important;
        margin-top: 0 !important;
    }

    .checkout-info {
        width: 100% !important;
        margin-top: 150px !important;
    }
}

.products-content-container {
    min-height: 100%;
}

.checkout-container {
    display: flex;
}

.btn-filters {
    display: none;
}

.modal-close {
    display: none;
}

@media only screen and (max-width: 980px) {
    .sidebar {
        display: none;
    }

    .btn-filters {
        display: block !important;
        height: 45px;
        position: relative;
        top: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        border-radius: 20px;
        border: none;
        background: #4287f5;
        color: white;
    }

    .products-content-container {
        display: block;
        min-height: 100%;
    }

    .modal {
        display: block;
    }

    .modal-close {
        position: absolute;
        z-index: 3;
        font-size: 50px !important;
        right: 0;
        top: 0;
    }

}

.filter-options-item {
    position: relative;
    margin: 0 0 20px 0;
    border-bottom: 0.5px solid #c0c0c0;
    line-height: 4;
}

.filter-options-title {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.title {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.filter-expand {
    position: absolute;
    display: block;
    margin-left: 140px;
    cursor: pointer;
}

.filter-options-content {
    display: none;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-family: 'Montserrat';
    font-weight: bold;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 15px;
    left: 0;
    height: 25px;
    width: 25px;
    background: #eee;
    cursor: pointer;
}

.container-checkbox:hover input ~ .checkmark {
    background: #ccc;
}

.container-checkbox input:checked ~ .checkmark {
    background: purple;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content-container {
    min-height: 100vh;
}

.content-container-wrapper {
    min-height: 100vh;
}

.auth-container {
    position: relative;
    top: 150px;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #f1f7fe;
    border-radius: 30px;
    height: 30vh;
    margin-top: 100px;
    flex: 1;
}

.register {
    height: 60vh;
}

.svg-user {
    position: relative;
    top: 10px;
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
}

.form-action {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label[for=email], label[for=username], label[for=password], label[for=registration_firstname], label[for=registration_lastname],
label[for=registration_email], label[for=registration_password_first], label[for=registration_password_second], label[for=registration_agreeTerms] {
    display: block;
    margin: 10px;
    font-weight: 600;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
}

input[type=text], input[type=email], input[type=password] {
    padding: 10px;
    border-radius: 15px;
}

input[type=radio] {
    cursor: pointer;
}

input[type=checkbox] {
    display: block;
    margin: auto;
    width: 18px;
    height: 18px;
}

form[name=car_booking] {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px;
}

.required {
    display: block;
    margin: 10px;
    font-weight: 600;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
}

input[type=number] {
    padding: 10px;
    border-radius: 15px;
}

#car_booking_pickUpDate, #car_booking_returnDate {
    padding-top: 10px;
    border-radius: 15px;
}

.auth-submit {
    margin-top: 20px;
    background: #3e4684;
    color: white;
    font-weight: 600;
    padding: 1em;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.btn {
    border: none;
    font-size: 16px;
    background: #c0c0c0;
    color: black;
    font-weight: 500;
    cursor: pointer;
    margin: 0 5px 12px 0;
}

.product-page {
    top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.rnd-text-span-second {
    position: relative;
    bottom: 73px;
    width: 100%;
    display: block;
    color: black;
    font-size: 30px;
    border-radius: 50px;
    padding: 18px;
    box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    font-weight: bolder;
    font-family: 'Montserrat';
}

.title-first {
    position: relative;
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    font-size: 45px;
    line-height: 1;
    text-align: center;
    color: white;
    box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    font-family: 'Montserrat';
}

.bottom-out {
    bottom: 0;
    box-shadow: none;
}

.image-row {
    position: relative;
    margin-left: 10%;
    margin-right: auto;
}

.status {
    position: relative;
    right: 0;
    background: #04AA6D;
    padding: 8px;
    border-radius: 50px;
    color: white;
    font-family: 'Montserrat';
    bottom: 335px;
    left: 290px;
}

.product-details-title {
    margin-right: 30%;
    position: relative;
}

.product-details {
    margin-right: 30%;
    margin-top: 15px;
    border-bottom: 1px solid #c0c0c0;
}

.product-packages {
    position: absolute;
    top: 25%;
    display: flex;
    left: 45%;
}

.package-title {
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    font-weight: bolder;
    font-family: 'Montserrat';
    font-size: 30px;
    position: absolute;
    top: 15%;
    right: 30%;
    width: 20%;
}

.package-label {
    position: relative;
    bottom: 10px;
    bottom: 2px;
    right: 10px;
    font-weight: bolder;
}

.product-package {
    padding: 20px;
}

.btn-wrapper {
    height: 0;
    position: relative;
    top: 70px;
    right: 50%;
}

.btn-package-proceed {
    background: purple;
    border: none;
    padding: 10px;
    font-family: 'Montserrat';
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 800;
}

.products-radio-item {
    border: 1px solid #40B93C;
    border-radius: 30px;
    padding: 20px;
}


.product-details-row {
    display: flex;
    flex-direction: row;
}

.product-details-column {
    display: flex;
    margin: 20px;
}

.product-details-info {
    font-weight: bolder;
    font-family: 'Montserrat';
}

.package-price {
    position: relative;
    font-size: 14px;
    font-weight: bolder;
}

.package-km {
    position: relative;
    font-size: 14px;
}

.package-short {
    position: relative;

}

.product-details-description {
    font-family: sans-serif;
}

.rnd-footer {
    background: #c0c0c0;
    width: 100%;
    height: 14vh;
    position: absolute;
}

.rnd-copyright {
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat';
}

#navigation-footer-small {
    position: relative;
    width: 100%;
}

.list-footer {
    width: 100%;
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

.footer0 {
    position: relative;
    margin-left: auto;
    color: black;
    font-family: 'Montserrat';
    font-size: initial;
    font-weight: normal;
}

.warning-box {
    background: #d9534f;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}

.warning-alert {
    display: block;
    text-align: center;
    color: white;
}

.btn-proceed {
    margin-top: 80px;
    border-radius: 20px;
}

.checkout-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.checkout-info {
    position: relative;
    flex: 1;
    width: 50%;
    height: 100%;
    margin-top: 255px;
}

.package-notice {
    position: absolute;
    top: 15%;
    right: 20%;
    padding: 10px;
    background: red;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.required {
    text-align: center;
}

.label-returnDate {
    text-align: center;
}

.car_booking_returnDate {
    text-align: center;
    margin: 10px;
}

.color-primary {
    background: #0275d8;
    color: white;
    border-radius: 25px;
}

.bigger {
    width: 100%;
    border-radius: 20px;
    height: initial;
}

.checkout-column {
    padding: 10px;
    font-family: 'Montserrat';
    letter-spacing: 1.5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.checkout-row {
    margin: 10px;
    text-align: center;
}

.checkout-product-description {
    color: black;
}

.adds-checkout-info {
    color: red;
    font-size: 13.5px;
    width: 100px;
    display: block;
}

.underline {
    text-decoration: underline;
    font-variant-numeric: tabular-nums;
}

.product-show {
    width: 50%;
    display: flex;
    box-shadow: none;
}

.form-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.package-info {
    font-weight: 600;
}

.success-box {
    background: #5cb85c;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

.success-alert {
    display: block;
    text-align: center;
    color: white;
}

.searchbox-wrapper
{
    position: relative;
    bottom: 90%;
}

.error-message, .empty-results {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 50%;
    color: #d9534f;
}

input[type=search], input[type=submit] {
    cursor: pointer;
}