{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}
    {% for car in cars %}
        {{ car.name }}
        {{ car.model }}
        <a href="{{ path('car_show', {id: car.id}) }}">Select</a>
    {% endfor %}
{% endblock %}
